{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я пробовал</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        Java
      </li>
      <li class="list-group-item">
        C
      </li>
      <li class="list-group-item">
        Js
      </li>
      <li class="list-group-item">
        Node.js
      </li>
      <li class="list-group-item">
        Go
      </li>
      <li class="list-group-item">
        HAL
      </li>
      <li class="list-group-item">
        PSoC
      </li>
      <li class="list-group-item">
        ARM
      </li>
      <li class="list-group-item">
        GIT
      </li>
      <li class="list-group-item">
        Telegram API
      </li>
      <li class="list-group-item">
        MK-61
      </li>
      <li class="list-group-item">
        VBA
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Текст страницы "Технологии"</p>
  </article>
</div>
{% endblock %}
